<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello world
    <form action="{% url 'admin-portal' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="myfile" name="s_data" placeholder="student data">
        <input type="file" id="myfile" name="e_data" placeholder="elective data">
        <input type="submit">
    </form>
</body>
</html>